{% extends "_templates/base.twig" %} {% block contenido %}

<div class="col-md-12">
	<p class="bg-primary">Su pedido ha sido procesado con éxito</p>
	<a href="" class="btn btn-primary">Aceptar</a>
</div>


{% endblock %}






